* {
  margin: 0;
  padding: 0;
}



body {
  padding: 0.5%;
  margin: auto;
}

figure > img {
  width: 95%;
  margin: auto;
}

/*HEADER*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f5f5f5;
}

header > h1 {
  text-align: center;
  text-transform: uppercase;
}

/*NAV*/
nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
nav > ul {
  flex: 1;
  display: flex;
  min-width: 400px;
  text-align: center;
}

nav > ul > li {
  flex: 1;
  padding: 2%;
  border: 1px solid #f5f5f5;
}

nav > ul > li:hover {
  background-color: #f5f5f5;
}

nav > ul > li:hover > a {
  color: red;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li {
  list-style: none;
  padding: 2% 4% 2% 2%;
}

/*MAIN*/
main {
  padding: 1%;
  margin-bottom: 2%;

}

p {
  text-align: justify;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: #acaaa6;
  font-style: italic;
  margin-bottom: 2%;
}

.bienvenidos {
  margin-bottom: 2%;
}

.bienvenidos > p {
  margin-bottom: 2%;
}

.categorias {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-bottom: 2%;
}

.categorias h3 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1%;
  
}

.imagenescateg {
  display: flex;
    flex-flow: row wrap;
}

.imagenescateg > figure {
  text-align: center;
  min-width: 200px;
  margin: auto;
}

.imagenescateg > figure > img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.imgsomos {
  width: 300px;
}

.imagentexto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: antiquewhite;
  align-items: center;
}

.imagentexto:nth-child(odd) {
  flex-direction: row-reverse;
  background-color: #f5f5f5;
}

.imagentexto > figure {
  min-width: 200px;
  flex: 1;
}

.imagentexto > div {
  min-width: 200px;
  flex: 2;
  padding: 0 2em;
}

.contact_form {
  max-width: 50%;
  margin: auto;
}

.form-control {
  color: #acaaa6;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #f5f5f5;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  margin-bottom: 2rem;
}

.visitarnos {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

.visitarnos h3 {
  margin-bottom: 1%;
  margin-top: 2%;
}

/*FOOTER*/
footer {
  margin-top: 1%;
  background-color: #f5f5f5;
}


.fila {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.columna {
    flex: 1;
  padding: 1%;

}